/* imports from styles folder */
@import './styles/navbar.css';

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .span1{
    animation: span1-spin infinite 90s linear;
    display: inline-block;
  }
} */

.span-s, .span-x{
  padding: 6px;
  background: rgb(200, 200, 243);
  opacity: 40%;
  margin: 6px;
}
/* i applied similar spin approach as was with react logo*/
@media (prefers-reduced-motion: no-preference) {
  .span-x{
    animation: span-x-spin infinite 50s linear;
    display: inline-block; /* Ensures the span can be rotated */
  }
}
@media (prefers-reduced-motion: no-preference) {
  .span-s{
    animation: span-s-spin infinite 40s linear;
    display: inline-block; /* Ensures the span can be rotated */
  }
}



.App-header {
  /* background-color: #000000; */
  background: linear-gradient(to bottom, rgb(93, 93, 93), rgb(12, 17, 12));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 7vmin);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:blue;
}
.pic1{
  width: 450px;
  /* from here https://shadows.brumm.af/ */
  /* box-shadow:
  0.8px 1px 4.2px rgba(0, 0, 0, 0.212),
  1.8px 2.2px 9.2px rgba(0, 0, 0, 0.321),
  3.2px 3.9px 15.5px rgba(0, 0, 0, 0.398),
  4.9px 6px 23.4px rgba(0, 0, 0, 0.46),
  7.2px 8.7px 33.7px rgba(0, 0, 0, 0.515),
  10.1px 12.3px 47.7px rgba(0, 0, 0, 0.569),
  14.2px 17.2px 67.6px rgba(0, 0, 0, 0.626),
  20px 24.3px 98.2px rgba(0, 0, 0, 0.694),
  28.8px 35px 151.3px rgba(0, 0, 0, 0.79),
  42px 51px 269px rgba(0, 0, 0, 1)
; */
box-shadow:
  0.8px 1px 7.9px rgba(0, 0, 0, 0.212),
  1.8px 2.2px 25.8px rgba(0, 0, 0, 0.321),
  3.2px 3.9px 67.3px rgba(0, 0, 0, 0.398),
  4.9px 6px 197.7px rgba(0, 0, 0, 0.46),
  7.2px 8.7px 268.1px rgba(0, 0, 0, 0.515),
  10.1px 12.3px 286.2px rgba(0, 0, 0, 0.569),
  14.2px 17.2px 289.9px rgba(0, 0, 0, 0.626),
  20px 24.3px 286.7px rgba(0, 0, 0, 0.694),
  28.8px 35px 279.2px rgba(0, 0, 0, 0.79),
  42px 51px 269px rgba(0, 0, 0, 1)
;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

/* @keyframes span1-spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(120deg);
  }
}  */
/* i applied similar spin approach as was with react logo*/
@keyframes span-x-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} 
@keyframes span-s-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} 