/* .off-canvas-main { */
/* width: 400px;  */
/* height: 100px; */
/* font-family: monospace; */
/* font-size: 29px; */
/* font-weight: bold; */
/* padding: 6px; */
/* margin: 1px; */
/* } */

/* .off-canvas-body { */
/* background: rgb(144, 41, 41); */
/* background: linear-gradient(to bottom, rgb(171, 77, 77), rgb(144, 41, 41)); */
/* color: rgb(117, 197, 38); */

/* }
.off-canvas-body p{
  /* border-style: dashed; */
/* } */
/* .off-canvas-header { */
/* color: blue; */
/* } */
/* .off-canvas-title{
} */
/* .off-canvas-button {
  margin: 10px;
} */

.navigation-bar {
  background-color: #000000; /*Background color of the navbar */
  color: white; /* Text color */
  padding: 1px; /* Padding around the navbar */
  padding-left: 2px;
  display: flex; /* Use flexbox layout */
  flex-direction: row;
  justify-content: baseline;
  font-size: 1.5rem;
  margin: 0px 8px 20px 8px;
  opacity: 80%;
  position: fixed;
  top: 0;
  z-index: 1000;  /* Ensure the navbar is above other content */
}

.navigation-bar-nav {
  list-style-type: none; /* Remove default bullet points */
  margin: 0;
  padding: 0;
  display: flex; /*Use flexbox layout for the menu items */
}

.navigation-item {
  margin-right: 6px; /* Add some space between menu items */
}

.navigation-link {
  color: white; /* Text color of the links */
  text-decoration: none; /* Remove default underline */
}

.navigation-link:hover {
  text-decoration: line-through;
  color: rgb(72, 255, 0);
}

/* Ensure the content below the navbar is not hidden under it */
body {
  padding-top: 60px;  /* Adjust this value based on the navbar height */
}

/* adding responsiveness */

/* to add later
Common Scenarios
Mobile Devices: Smaller screens, touch input, varying resolutions.
Tablets: Medium-sized screens, both touch and keyboard input.
Desktops and Laptops: Larger screens, keyboard, and mouse input.
Large Screens: TVs, projectors with very large resolutions.
Orientation Changes: Devices like tablets and smartphones that can switch between portrait and landscape modes.
*/

@media (max-width: 480px) {
  .navigation-bar {
    font-size: 1.2rem;
  }
  .navigation-bar-nav{
    /* making 2 lines and more depending on screen width */
    flex-wrap: wrap;
  }
  .navigation-item {
    margin-right: 2px; /* Add some space between menu items */
  }
  /* Styles for very small mobile devices */
}

@media (min-width: 481px) and (max-width: 767px) {
  .navigation-bar {
    font-size: 1.2rem;
  }
  .navigation-bar-nav{
    /* making 2nd line */
    flex-wrap: wrap;
  }
  .navigation-item {
    margin-right: 2px; /* Add some space between menu items */
  }
  /* Styles for larger mobile devices */
}

@media (min-width: 768px) and (max-width: 991px) {
  .navigation-bar {
    font-size: 1.4rem; 
  }
  .navigation-item {
    margin-right: 6px; /* Add some space between menu items */
  }

  /* Styles for tablets */
}

@media (min-width: 992px) and (max-width: 1199px) {

  .navigation-bar {
    font-size: 1.9rem;  
  }
  .navigation-item {
    margin-right: 7px; /* Add some space between menu items */
  }

  /* Styles for larger tablets or smaller desktop screens */
}

@media (min-width: 1200px) {

  .navigation-bar {
    font-size: 2.3rem; 
  }
  .navigation-item {
    margin-right: 8px; /* Add some space between menu items */
  }
  /* Styles for desktops and laptops */
}

@media (min-width: 1600px) {
  .navigation-bar {
    font-size: 3rem;
  }
  .navigation-item {
    margin-right: 8px; /* Add some space between menu items */
  }
  /* Styles for large screens like TVs or projectors */
}

@media (orientation: landscape) {
  /* Styles for devices in landscape orientation */
}

@media (orientation: portrait) {
  /* Styles for devices in portrait orientation */
}

